//
// Contextual backgrounds
//


.bg-shade // Or .bg-secondary?
  background-color $white-lilac

.bg-primary
  background-color $brand-primary

.bg-success
  background-color $brand-success

.bg-warning
  background-color $brand-warning

.bg-danger
  background-color $brand-danger

.bg-primary,
.bg-success,
.bg-warning,
.bg-danger
  color: white;
