//
// Text
//

// Alignment

.text-nowrap
  white-space: nowrap !important

.text-truncate
  ellipsis()

.text-left
  text-align: left !important

.text-right
  text-align: right !important

.text-center
  text-align: center !important

// Transformation

.text-lowercase
  lowercase()

.text-uppercase
  uppercase()

.text-capitalize
  text-transform: capitalize !important

// Contextual colors

.text-muted
  color: $storm-dust

.text-primary
  color: $brand-primary

.text-success
  color: $brand-success

.text-warning
  color: $brand-warning

.text-danger
  color: $brand-danger
