//
// Buttons
// --------------------------------------------------


.btn-primary
  button($brand-primary, $font-size)

.btn-secondary
  button(lighten(mix(#ffffff, #828282), 50%), $font-size)

.btn-success
  button($brand-success, $font-size)

.btn-warning
  button($brand-warning, $font-size)

.btn-danger
  button($brand-danger, $font-size)

.btn-link
  button($default-color, $font-size)
  background-color: transparent
  color: $blue
  font-weight: normal

  &:hover
    background-color: transparent
    color: darken($blue, 15%)
    text-decoration: underline
