//
// Forms
// --------------------------------------------------


+html5-inputs()
  input($aqua, 100%)

input[type='file']
  width: 100%

  &[disabled]
    input-disabled()

.form-field
  field(left, 100%)

  &.has-success
    field-success()
  &.has-warning
    field-warning()
  &.has-error
    field-error()

label
  label('block')
