//
// Forms
// --------------------------------------------------


+html5-inputs()
  input()

  &[disabled]
    input-disabled()

.form-field
  field(right, 380px)

  &.has-success
    field-success()
  &.has-warning
    field-warning()
  &.has-error
    field-error()
