// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container
  // TODO: make responsive.
  lost-center: 940px 15px

// Row
//
// Rows contain and clear the floats of your columns.

.row
  lost-utility: clearfix

// Columns
//
// Common styles for small and large grid columns

for num in (1...12)
  .col-{num}
    lost-column: num / 12
