// Base class

.nav
  reset-list()

  .nav-link
    // Workaround to an Axis overspecification going to be removed soon (https://github.com/jescalan/axis/pull/305).
    link($blue, 'darken')

    &:hover
      border-bottom-color: transparent


// Inline

.nav-inline
  inline-list()
