//
// Variables
// --------------------------------------------------


// Colors

$alabaster = #fafafa
$alto = #dad9da
$french-blue = #0076ba
$gallery = #f0f0f0
$mountain-mist = #979494
$picton-blue = #54abf4
$storm-dust = #646261


// Typography

$font-size = 18px
$font-color = black
