// Variables


// Table of Contents
//
// Colors
// Options
// Spacing
// Body
// Links
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components


// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.


// Colors
//
// Grayscale and brand colors for use across Praxis.

$alabaster = #fafafa
$alto = #dad9da
$french-blue = #0076ba
$gallery = #f0f0f0
$mountain-mist = #979494
$picton-blue = #54abf4
$storm-dust = #646261
$white-lilac = #EAE8EC

$cerulean = #179BE7
$emerald = #5ED67F
$saffrom = #F9BF32
$terra-cotta = #E96B5B

$brand-primary = $cerulean
$brand-success = $emerald
$brand-warning = $saffrom
$brand-danger = $terra-cotta


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-size = 16px
$font-color = black

$ligatures = true
