//
// Typography baseline
//

base()
typography()

body
  -line-height()


//
// Headings
//

h1, h2, h3, h4, h5, h6
  margin: 1em 0 .5em 0

  small,
  .small
    bold()
    color: $storm-dust
    font-size: .6em


//
// Emphasis
//

small,
.small
  small()


//
// Lists
//

.list-unstyled
  reset-list()

.list-inline
  inline-list()
